nav ul li {
    display: inline-block;
    margin : 10px 20px;
}
nav {
    font-size: 20px; 
    display: flex;
    justify-content: center; 
}
.profile-image {
    width: 25%; 
    height: auto;
    float: right; 
    margin-top: 20px;
    margin-right: 60px; 
    border-radius: 50%; 
}
.social-links {
    display: flex;
    justify-content: flex-start; 
    gap: 30px; 
    margin-top: 20px; 
    margin-left: 350px; 
}  
   .social-links img {
    width: 40px; 
    height: 40px;
}
